<a href="https://colab.research.google.com/github/dm0969/Divya_INFO5731_Spring2023/blob/main/Divya_In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
D='Divya'
print(len(D))

5

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
D='divyareddy'
a={} 
for i in D:
 k=a.keys()
 if i in k:
  a[i]+=1
 else:
  a[i]=1
sort = sorted(a.items(), key=lambda x:x[1], reverse=True)
con_dict = dict(sort)
print(con_dict)

{'d': 3, 'y': 2, 'i': 1, 'v': 1, 'a': 1, 'r': 1, 'e': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
list_1=[10,20,30,50] 
s=0
for i in range(len(list_1)):
  s=s+list_1[i]
print(s)

110

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
str_1 = "reddy"
r = str_1.replace("d", "$").replace("$", "d", 1)
print(r)

red$y

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
s=8 
g=9
S=3.14*((1+s/g)**3)
print(S)

21.161618655692727

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here

Dit1={1:10, 2:20}
Dit2={3:30, 4:40}
Dit3={5:50,6:60}
Dit1.update(Dit2)
Dit1.update(Dit3)
print(Dit1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here

T1=(20,25,20,44)
print(20 in T1)
print(45 in T1)
print(25 in T1)

True
False
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here

S1={35,45,68,8,7}
print(max(S1))
print(min(S1))

68
7

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
from itertools import islice
from random import randint

S_List =  ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def students(S_List, NGroups, minSize=4, maxSize=6):
    List_s = iter(S_List)
    for i in range(NGroups):
      Group = list(islice(List_s,randint(minSize,maxSize)))
      if Group:
            yield Group
      else:
            break
print(list(students(S_List,6)))

[['ja0964', 'sa1198', 'sb1357', 'vb0218'], ['sc1229', 'kg0569', 'kg0470', 'sg1297', 'bg0320'], ['fh0141', 'jl1252', 'sk1386', 'ak0956', 'sk1390'], ['sk1458', 'sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609'], ['ms1500', 'aos0040', 'ds0814', 'av0659', 'nv0234']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
def dup(ele):
    a=0
    r=[]
    for i in range(len(ele)):
        for j in range(i+1,len(ele)):
            if ele[i]==ele[j]:
                r.append(ele[i])
    if len(r)==0:
        return -1;
    else:
        return r;

List1=[20,30,40,50,60,70,20,30]
print(dup(List1))

List2 = [10,11,22,33,]
print(dup(List2))

[20, 30]
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here

from datetime import date, timedelta
def Sundays_Yr(year):
       dt_sun = date(year, 1, 1)      
       dt_sun += timedelta(days = 6 - dt_sun.weekday())  
       while dt_sun.year == year:
          yield dt_sun
          dt_sun += timedelta(days = 7)
for i in Sundays_Yr(2023):
   print(i)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31