<a href="https://colab.research.google.com/github/dm0969/Divya_INFO5731_Spring2023/blob/main/INFO5731_Assignment_One_Divya_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:

import random

random_numbers_gr = []
for i in range(0,12):
    random_numbers_gr.append(random.randint(1,100))
print("random list: ",random_numbers_gr)
random_numbers_gr.sort()
print("random list in the ascending order: ",random_numbers_gr)
random_numbers_gr.sort(reverse=True)
print("random list in the descending order: ",random_numbers_gr)

random list:  [99, 69, 58, 42, 99, 76, 90, 64, 79, 85, 42, 72]
random list in the ascending order:  [42, 42, 58, 64, 69, 72, 76, 79, 85, 90, 99, 99]
random list in the descending order:  [99, 99, 90, 85, 79, 76, 72, 69, 64, 58, 42, 42]

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:

# 1
print("Enter two sentences to print")
sentence_1 = input("sentence_1: ")
sentence_2 = input("sentence_2: ")

Enter two sentences to print
sentence_1: Hi, hello
sentence_2: How are you

In [ ]:

#2
ascii_numbers_gr = []
for g in range(33,48):
    ascii_numbers_gr.append(i)
for g in range(58,65):
    ascii_numbers_gr.append(i)
for g in range(91,97):
    ascii_numbers_gr.append(i)

for charc in sentence_1:
    if ord(charc) in ascii_numbers_gr:
        position = sentence_1.rfind(charc)
        sentence_1 = sentence_1[0:position]+" "+sentence_1[position:]
for charc in sentence_2:
    if ord(charc) in ascii_numbers_gr:
        position = sentence_2.rfind(charc)
        sentence_2 = sentence_2[0:position]+" "+sentence_2[position:]
print(sentence_1)
print(sentence_2)

sentence_1_list = sentence_1.split()
sentence_2_list = sentence_2.split()

print(sentence_1_list)
print(sentence_2_list)

Hi, hello
How are you
['Hi,', 'hello']
['How', 'are', 'you']

In [ ]:
#3
common_words_g = []
for words in sentence_1_list:
    if words in sentence_2_list:
        common_words_g.append(words)
print(common_words_g)

[]

In [ ]:
#4
import string

sentence_1 = sentence_1.translate(str.maketrans('', '', string.punctuation))
print(sentence_1)

sentence_2 = sentence_2.translate(str.maketrans('', '', string.punctuation))
print(sentence_2)

Hi hello
How are you

In [ ]:
#5
final_stnce = sentence_1 + " " + sentence_2
final_stnce = final_stnce.casefold()

vowels = "aeiou"
count = {}.fromkeys(vowels,0)

for char_g in final_stnce:
    if char_g in count:
        count[char_g] += 1

print(count)

{'a': 1, 'e': 2, 'i': 1, 'o': 3, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
pi = 3.1415926535897931
radius = [1,2,3,4,5,6,7,8,9,10]
print("r          V")
for r in radius:
    volume_g = 4.0/3.0 * pi * r**3
    print(r,"  ",volume_g)

r          V
1    4.1887902047863905
2    33.510321638291124
3    113.09733552923254
4    268.082573106329
5    523.5987755982989
6    904.7786842338603
7    1436.7550402417319
8    2144.660584850632
9    3053.6280592892786
10    4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
import pandas as pd
Occupied_Housing_gr = pd.read_csv('Assignment1_denton_housing.csv')
Diff_df_gr = Occupied_Housing_gr[Occupied_Housing_1['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
Diff_df_gr.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [ ]:
#2
import pandas as pd
vacant_housing_gr = Occupied_Housing_gr[Occupied_Housing_gr['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value'].values.tolist()
occupied_Units_gr = Occupied_Housing_gr[Occupied_Housing_gr['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value'].values.tolist()
total_housing_gr = Occupied_Housing_gr[Occupied_Housing_gr['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()
last_year = Occupied_Housing_gr[Occupied_Housing_gr['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year'].values.tolist()
vacant_housing_prct = [str((vacant/total)*100)+' %' for vacant,total in zip(vacant_housing_gr,total_housing_gr)]
occupied_housing_prct = [str((ind/total)*100)+' %' for ind, total in zip(occupied_Units_gr, total_housing_gr)]
Final_Res = pd.DataFrame(list(zip(last_year,vacant_housing_prct, occupied_housing_prct)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
Final_Res

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [ ]:
## Q 3 
vacant_rooms_gr = Occupied_Housing_gr[Occupied_Housing_gr['title_field'] == 'Vacant Housing Units']
High_Number_gr = pd.concat([Diff_df_gr[Diff_df_gr['value'] == Diff_df_gr['value'].max()],vacant_rooms_gr[vacant_rooms_gr['value'] == vacant_rooms_gr['value'].max()]])
print(High_Number_gr[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [ ]:
##Q 4 
from scipy import stats
print(stats.hmean(total_housing_gr))

44398.28543969185